.delete-zone {
     background: rgba(229, 231, 235);
     border: 1px solid #ff7575;
     width: 300px;
     height: 10rem;
     margin: 2rem 1rem;
     border-radius: 5px;
     color: #ff7575;
     display: flex;
     justify-content: center;
     align-items: center;
}
